$mobile: 767px;
.ui-header {
    display: flex;
    align-content: center;
    justify-content: center;
    .ui-title {
        font-weight: 500;
        font-size: 45px;
        margin: 0;
        line-height: 1.2;
        text-align: center;
        white-space: normal;
        @media only screen and (max-width: $mobile) {
            font-size: 30px;
        }
    }
}

.ui-content {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
    }
    .ui-btn {
        width: 240px;
        margin: 0 30px;
        font-size: 20px;
        @media only screen and (max-width: $mobile) {
            margin: 5px 0;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
        &:first-child {
            margin-right: 0;
            @media only screen and (max-width: $mobile) {
                margin-top: 0;
            }
        }
        &:last-child {
            margin-left: 0;
            @media only screen and (max-width: $mobile) {
                margin-bottom: 0;
            }
        }
    }
}

.content-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    @media only screen and (max-width: $mobile) {
        padding: 0 50px;
    }
}

.content-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 0 10px 0;
    position: relative;
    @media only screen and (max-width: $mobile) {
        width: 100%;
    }
    label {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        text-align: start;
    }
    .ui-input-text {
        flex: 3;
    }
    .error-message {
        display: none;
        margin: 0;
        color: red;
        position: absolute;
        top: 44px;
        right: 124px;
        font-size: 14px;
        &.show {
            display: inline-block;
        }
    }
}